/* OVERALL DISPLAY */

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 0;
  min-height: 100vh;
}

nav,
header {
  background-color: #1F1F3D;
}

h1,
footer,
.show-button,
.save-button,
.add-comment-button,
.create-new-button {
  font-size: 95%;
  color: #E9E9F3;
}

h1 {
  padding: 1% 10%;
}

.nav-border {
  border: 1px solid #353567;
  border-left: none;
  padding: 5% 10% 10% 10%;
}

.starred-title {
  color: #BFBFDD;
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 10%;
  padding: 1% 2%;
}

.hidden {
  display: none;
}

/* FORMS */

form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #A9AAD2;
  padding: 2% 25%;
}

.form-labels {
  font-size: 70%;
  font-weight: bold;
  color: #353567;
  margin: 2% 0 1%;
}

.form-buttons {
  background-color: #353567;
  margin: 1% 0;
  border: none;
}

.comment-form {
  align-content: stretch;
}

.comment-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

input,
textarea {
  border: 1px solid #7b7dc0;
  padding: 2% 2%;
  border-radius: 3px;
}

.search-icon {
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 5% 10% 5% 10%;
}

.search-input {
  border-radius: 0 3px 3px 0;
}

.search-input::placeholder {
  color: #353567;
}

/* BUTTONS */

button {
  cursor: pointer;
}

button:hover {
  background-color: #5356A4;
}

button:disabled {
  cursor: no-drop;
  background-color: gray;
}

.save-button,
.add-comment-button,
.create-new-button {
  padding: 2% 10%;
  background-color: #353567;
  margin: 5% 0%;
  border: 0;
  border: 1px solid #7b7dc0;
  border-radius: 3px;
}

.show-button {
  background-color: #5356A4;
  padding: 5% 10%;
  border: 0;
}

.show-button:hover {
  background-color: #A9AAD2;
  color: #5356A4;
}

/* IDEAS */

main {
  background-color: #EAEAF4;
}

img {
  width: 15%;
}

header {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin: 0;
  padding-top: 5%;
}

footer {
  background-color: #5356A4;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid #1F1F3D;
}

.ideas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2%;
}

.search-bar {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  background-color: #353567;
  border-radius: 3px;
}

.idea-cards {
  margin: 1%;
  width: 31%;
}

.card-body {
  background-color: #FFF;
  padding: 5%;
  border-inline: 1px solid #1F1F3D;
}

.card-text {
  color: #1F1F3D;
  margin-bottom: 1%;
}

.comment-text {
  overflow-wrap: break-word;
}
